<app-navbar-component></app-navbar-component>
<div>
  <h1>Catalogue</h1>
  <ul>
    <card *ngFor="let poke of pokemon" (click)="goToPokemonDetail(poke.name)">
      <img [src]="poke.image" [alt]="poke.name"/>
      <p>{{ poke.name }}</p>
    </card>
  </ul>
    <button [disabled]="isFirst" (click)="prevPage()">prev</button>
    <button [disabled]="isLast" (click)="nextPage()">next</button>
</div>

