@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div{
  padding: 2em;
  margin: 0 auto;
  background-color: #f7c501;
  justify-content: center;
  text-align: center;


}

h1 {
  color: #3c59a5;
}

card {
  display: inline-grid;
  border: solid #3c59a5;
  border-radius: 1em;
  justify-content: center;
  text-align: center;
  padding: 2em;
  margin: 2em;
  background-color: #3c59a5;
  box-shadow: 0.5em 0.5em 0.5em #866b00;
}
ul {
  display: block;
  width: 100%;
  grid-row-gap: 1em;
  grid-column-gap: 2em;
  justify-content: center;
  text-align: center;
  padding: 1em;
}
p {
  color: white;
}

button{
  text-align: center;
  border-radius: 1em;
  background-color: #3c59a5;
  color: #f7c501;
  margin: 0.5em;
  padding: 1em;
}

button[disabled]{
  background-color: #f7c501;
  border: none;
  color: #f7c501;
}
