nav {
  position: sticky;
  top: 0;
  background-color: #3e59a3;
  color: whitesmoke;
  border-bottom: solid 2px #202c54;
}

nav, ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  display: block;
  padding-top: 0.5em;
}

#pokemon {
  max-height: 100px;
}

#profile {
  max-height: 70px;
}
