<nav>
  <ul>
    <li class="navbar-logo">
      <a routerLink="/pokemon">
        <img id="pokemon" src="../../../assets/pokemon-logo.png">
      </a>
    </li>
    <li>
      <a routerLink="/trainer">
        <img id="profile" src="../../../assets/trainer-profile.png">
      </a>
    </li>

  </ul>
</nav>
