<app-navbar-component></app-navbar-component>
<div class="outer-div">
  <h1>
    {{trainer}}'s collected pokemons
  </h1>
  <section>
    <div *ngIf="pokemons === []">
      <p>You have not collected any pokemons yet</p>
    </div>
    <ul>
      <card *ngFor="let poke of pokemons" (click)="goToPokemonDetail(poke.name)">
        <img [src]="poke.image" [alt]="poke.name"/>
        <p>{{poke.name}}</p>
      </card>
    </ul>
  </section>
</div>
