

.outer-div{


  margin-top: -2em;
  padding: 3em;
  background-color: #f7c501;
  justify-content: center;
  text-align: center;

}

h1 {
  color: #3c59a5;
  background-color: #f7c501;
}

card {
  display: inline-grid;
  border: solid #3c59a5;
  border-radius: 1em;
  justify-content: center;
  text-align: center;
  padding: 2em;
  margin: 2em;
  background-color: #3c59a5;
  box-shadow: 0.5em 0.5em 0.5em #866b00;
}
ul {
  display: block;
  width: 100%;
  grid-row-gap: 1em;
  grid-column-gap: 2em;
  justify-content: center;
  padding: 1em;
}
p {
  color: #f7c501;
}

