<app-navbar-component></app-navbar-component>
<section id="wrapper" *ngIf="pokemon">
  <section id="name-picture-wrapper">
    <h2>{{pokemon.name}}</h2>
    <img [src]="pokemon.image" [alt]="pokemon.name"/>
  </section>
  <p id="height-weight">Height: {{pokemon.height}} Weight: {{pokemon.weight}}</p>

  <div id="details">
    <section id="types">
      <ul>
        <li>
          <h3>Types</h3>
        </li>
        <li *ngFor="let type of pokemon.types">
          {{type.type.name}}
        </li>
      </ul>
      <ul>
        <li>
          <h3>Abilities</h3>
        </li>
        <li *ngFor="let ability of pokemon.abilities">
          {{ability.ability.name}}
        </li>
      </ul>
    </section>

    <section id="stats">
      <ul>
        <li>
          <h3>Base stats</h3>
        </li>
        <li>
          <p>Base experience: {{pokemon.base_experience}}</p>
        </li>
        <li *ngFor="let stat of pokemon.stats">
          {{stat.stat.name}}: {{stat.base_stat}}
        </li>
      </ul>
    </section>
  </div>
  <button type="button" (click)="collectPokemon()">Collect</button>



  <section>
    <ul>
      <li>
        <h3>Moves</h3>
      </li>
      <li *ngFor="let move of pokemon.moves">
        {{move.move.name}}
      </li>
    </ul>
  </section>

</section>

