#wrapper {
  justify-content: center;
  text-align: center;
  background-color: #3e59a3;
  margin: 4em;
  border-radius: 2em;
  padding-bottom: 2em;
}
#name-picture-wrapper {
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
h2 {
  font-size: xx-large;
  color: whitesmoke;
}
#height-weight {
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: -2em;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
#details {
  display: inline-flex;
  width: 70%;
  padding: 3em;
  margin: 2em
}
#types {
  display: inline-block;
  background-color: #ffcc05;
  border-radius: 2em;
  width: 50%;
  float: left;
  text-align: center;
  justify-content: center;
  margin: 0.5em;
}
#stats {
  display: inline-block;
  background-color: #ffcc05;
  border-radius: 2em;
  width: 50%;
  float: right;
  text-align: center;
  margin: 0.5em;
}
button {
  display: grid;
  padding: 2em;
  margin-left: 45%;
  background-color: #de2715;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.25em #212d56;
  border: solid 2px black;
  font-size: x-small;
}
