/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1, h2, h3, p, li, button, label, input{
font-family: 'Press Start 2P', cursive;
}

p, li{
  font-size: x-small;
  margin-bottom: 10px;
}



