#wrapper{
  text-align: center;
}
#form{
  margin-top: 0;
  display: inline-grid;
  padding: 3em;
  height: fit-content;
  width: 40%;
  background-color: #3e59a3;
  border-radius: 4em;
  border: solid 3px black;
}
button {
  background: url("../../../../assets/Pokeball.jpg") ;
  background-size: 32px 32px;
  background-position: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: transparent;
}
label{
  font-size: x-small;
  margin-top: 5px;
}
img{
  max-width: 40em;
  margin-bottom: -8em;
}
input{
  margin-right: 1em;
  border-radius: 10px;
  min-width: 25em;
  height: 2em;
  font-size: x-small;
  border: solid 3px black;
}
#button-wrapper{
  display: inline-grid;
}
