
<section id="wrapper">
  <div>
    <img src="../../../../assets/pokemon-logo.png"/>
  </div>

  <form id="form" [formGroup]="landingForm">
    <section>
      <input id="trainer-name"
      name="trainer-name"
      formControlName="trainerName"
      type="text"
      placeholder="What's your trainer name?">

      <div id="button-wrapper">
        <button id="play-button" (click)="startPlaying()">
        </button>
        <label for="play-button" aria-label="play-button">Play</label>
      </div>
    </section>
  </form>

</section>
